CODE {
	font-family: monaco, "Courier New", courier, monospace;
	font-size: 10px;
}

/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */

* html code	{
	font-size: 101%; 
}

* html pre {
	font-size: 101%; 
}

body {
	background-color: #ffffff;
	color: #000000;
	
	width: 680px;
	margin-left: auto;
	margin-right: auto;	
}

body, input, li, option, select, td, th {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#pageTitle {
	font-size: 2em;
	margin-bottom: 10px;
	padding: 0.3em 3px 0.3em 3px;}
	
.catTitleSmall {
	font-size: 12px;
	font-weight: bold;
	padding: 0.3em;
}

.noteTitleBig {
	font-size: 12px;
	font-weight: bold;
}

.noteTitleSmall {    
}

.noteText {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.noteText pre {
	border: 1px solid #c7cfd5;
	background: #f1f5f9;
	//margin: 20px 0;
	padding: 8px;
	text-align: left;
	}

.catTitleBig {
	font-weight: bold;
	font-size: 12px;
	padding: 0.3em 3px 0.3em 3px;
	background-color: #f0f0f0;}

.itemsList {
	margin-bottom: 0.3em;
}

#searchForm {
    margin-bottom: 1em;
}

#footer {
	border-top: 1px dotted #999999;
	font-size: 10px;
	margin-bottom: 10px;
	padding: 0.3em 3px 0.3em 3px;
	text-align: center;
}

table#noteEdit th {
    text-align: right;
}

tr {
    vertical-align: top;
}
